.section {
    background: #08101E;
    display: flex;
    flex-direction: column;
    gap: 89px;
    padding-top: 49px;
    padding-bottom: 99px;
}

.subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
    margin-bottom: 10px;
}

.title {
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 604px;
    margin-bottom: 40px;
}

.text {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    max-width: 558px;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #3A68B8;
    border-radius: 5px;
    padding: 15px 30px;
    gap: 5px;
}

.logos {
    display: flex;
    flex-direction: row;
    gap: 71.5px;
    justify-content: center;
    align-items: center;
}

.logos img {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 114px;
    padding-left: 200px;
}

@media (max-width: 1600px) {
    .human {
        aspect-ratio: 1;
    }

    .container {
        padding-left: 0;
    }

    .section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1224px) {
    .human {
        max-width: 400px;
        max-height: 400px;
        object-fit: contain;
    }

    .container {
        padding-left: 0;
    }

    .section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 12px;
    }

    .text {
        font-size: 15px;
    }

    .button {
        padding: 10px 15px;
        font-size: 15px;
    }

    .logos {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
    }
}

@media (max-width: 880px) {
    .human {
        max-width: 300px;
        max-height: 300px;
    }

    .container {
        flex-direction: column;
    }

    .buttons {
        flex-direction: column;
    }

    .logos {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}