.section {
    background: #020A18;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 170px;
    gap: 68px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 484px;
    margin-bottom: 30px;
}

.text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    max-width: 460px;
    margin-bottom: 50px;
}

.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #3A68B8;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

@media (max-width: 1224px) {
    .section {
        flex-direction: column;
    }
}

@media (max-width: 880px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .brain {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }
}

@media (max-width: 560px) {
    .section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }

    .text {
        text-align: center;
        font-size: 13px;
    }

    .button {
        padding: 10px 15px;
        font-size: 13px;
    }

    .brain {
        max-height: 250px;
        max-width: 250px;
    }
}